<% Current.meta_tags.set(title: "Airplanes") %>
<%= turbo_stream_from :airplanes %>

<div class="container px-4 mx-auto my-8">
  <div class="flex items-center justify-between mb-4">
    <div>
      <h1 class="h3">Airplanes</h1>

      <div class="text-sm font-medium">
        <span class="text-gray-500 dark:text-gray-300/75">Sort by:</span>
        <%= sortable @airplanes, :n_number, "N number", class: "text-gray-700 dark:text-gray-300 mr-1" %>
      </div>
    </div>

    <%= link_to t("scaffold.new.title", model: "Airplane"), new_airplane_path, class: "btn btn-secondary" %>
  </div>

  <%= tag.div id: ("airplanes" if @pagy.page == 1), class: "bg-white dark:bg-gray-900 dark:border dark:border-gray-700 rounded-md shadow p-6 space-y-8" do %>
    <%= render partial: "airplanes/airplane", collection: @airplanes, as: :airplane, cached: true %>

    <div class="hidden only:block text-center">
      <p class="mb-4 h3">Create your first Airplane</p>
      <%= link_to t("scaffold.new.title", model: "Airplane"), new_airplane_path, class: "btn btn-primary" %>
    </div>
  <% end %>

  <% if @pagy.last > 1 %>
    <div class="my-6 text-center">
      <%== @pagy.series_nav %>
    </div>
  <% end %>
</div>
